*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);
    color:#fff;
    font-weight: 600;
}

.container{
    border: 0.5px solid black;
    border-radius: 10px;
    padding:30px;
    display:flex;
    flex-direction: column;
    background: rgb(38, 38, 64);
    box-shadow: 8px 8px 4px rgba(190, 4, 190, 0);
}


.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
}

.inputBox{
    position:relative;
}

.inputBox span{
    position:absolute;
    top: 16px;
    right: 6px;
    color:black;
    font-size: 28px;
    cursor: pointer;
    z-index: 2;
}

.passBox{
    background-color: white;
    border:none;
    outline:none;
    padding:10px;
    width:300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
    text-overflow: ellipsis;

}

.row{
    display:flex;
    margin-block: 8px;

}

.row p, .row label{
  
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type="checkbox"]{
    width:20px;
    

}

.genBtn{
    border:none;
    outline:none;
    background-color: rgb(112, 112, 249);
    padding:12px 24px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    margin-block: 8px;
    cursor:pointer;
}

.genBtn:hover{
    background-color: #01bcd9;
}